{% load static %}

<section class="contact" id="contact">
	<div class="contact-content">
		<h2>Contact Us</h2>
		<p>We are looking forward to your message.</p>
	</div>
	<div class="contact-container">
		<div class="contact-info">
			<div class="box">
				<div class="icon">
					<i class="fa-solid fa-map-location-dot"></i>
				</div>
				<div class="text">
					<h3>Address</h3>
					<p>Available in zimbawe</p>
				</div>
			</div>
			<div class="box">
				<div class="icon">
					<i class="fa-solid fa-phone"></i>
				</div>
				<div class="text">
					<h3>Phone</h3>
					<p>+263 774 007 593</p>
					<p>+263 773 768 222</p>
				</div>
			</div>
			<div class="box">
				<div class="icon">
					<i class="fa-brands fa-whatsapp"></i>
				</div>
				<div class="text">
					<h3>Whatsapp</h3>
					<p>+8618351981380</p>
				</div>
			</div>
			<div class="box">
				<div class="icon">
					<i class="fa-solid fa-envelope"></i>
				</div>
				<div class="text">
					<h3>Email</h3>
					<p>info@ara.co.zw</p>
				</div>
			</div>
		</div>
		<div class="contact-form">
			<form action="">
				<h2>Send Message</h2>
				<div class="input-box">
					<input type="text" name="" required="required">
					<span>Full Name</span>
				</div>
				<div class="input-box">
					<input type="text" name="" required="required">
					<span>Email</span>
				</div>
				<div class="input-box">
					<textarea name="" id="" cols="30" rows="10" required="required"></textarea>
					<span>Message</span>
				</div>
				<div class="input-box">
					<input type="submit" value="send">
				</div>
			</form>
		</div>
	</div>
</section>   