{% load static %}

<footer>
	<div class="footer-content">
		<h3>{{ site_name_full|upper }}</h3>
		<p>{{ moto|title }}</p>
		<ul class="socials">
			<li><a href="https://www.facebook.com/107274258794499/posts/1156982825232001/?substory_index=1156982825232001&app=fbl"><i class="fab fa-facebook-f"></i></a></li>
			<li><a href=""><i class="fab fa-twitter"></i></a></li>
			<li><a href=""><i class="fab fa-instagram"></i></a></li>
		</ul>
	</div>
	<div class="footer-bottom">
		<p>{{ site_name_long|title }} &copy;2022. designed by <span>Pyweb</span></p>
	</div>
</footer>