{% load static %}
<header>
	<div class="logo">
		<img src="{% static 'css/img/logo.png' %}" alt="">
		<h1 class="logo-title">{{ site_name_short|upper }}</h1>
	</div>
	<input type="checkbox" name="nav-toggle" class="nav-toggle" id="nav-toggle">
	<nav>
		<ul>
			<li><a href="{% url 'home:home' %}">Home</a></li>
			<li><a href="#services">Services</a></li>
			<li><a href="#about">About</a></li>
			<li><a href="#contact">Contact</a></li>
		</ul>
	</nav>
	<label for="nav-toggle" class="nav-toggle-label">
		<span></span>
	</label>
</header>