{% extends 'index.html' %}



{% block content %}
<section class="contact" id="contact">
	<div class="contact-content">
        <div class="contact-form">
            <form method="post" enctype="multipart/form-data" action="" >
                {% csrf_token %}
                <h2>Review Us</h2>
                <div class="input-box">
                    
                    {% for field in form %}
                    <span>{{ field.label }}</span>
                    {{ field }}
                    {% endfor %}
        
                <div class="input-box">
                    <input type="submit" value="send">
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock content %}
    